[submodule "src/Engine/Libraries/Impulse"]
	path = src/Engine/Libraries/Impulse
	url = https://github.com/magicoal-nerb/impulse
[submodule "src/Engine/Libraries/Signal"]
	path = src/Engine/Libraries/Signal
	url = https://github.com/AlexanderLindholt/SignalPlus
[submodule "src/Engine/Libraries/Iris"]
	path = src/Engine/Libraries/Iris
	url = https://github.com/SirMallard/Iris
